@using System.Net;
@using BotDetect.Web.Mvc;
@model WebApp.Models.LoginModel

@{
    Layout = null;
}
<title>藥品及衛材供應管理系統登入</title>
<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "myform" }))
    {
        <meta content="text/html; charset=utf-8" http-equiv="content-type" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-STORE">
        <meta name="viewport" content="width=500;">
        <link rel="stylesheet" href="~/Content/fontawesome/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/_link.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/_font.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/Login.css" />
        <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap-4.6.2-dist/css/bootstrap.min.css" />
        <script src="~/Scripts/jquery-3.7.1.min.js"></script>
        <script src="~/Scripts/bootstrap-4.6.2-dist/js/bootstrap.min.js"></script>
        <style type="text/css">
            body {
                background-image: url('../../Images/homebg.jpg');
                background-size: 100vw 100vh;
                background-repeat: no-repeat;
            }

            .container {
                height: 95%;
                width: 100%;
                align-content: center;
            }

            .card {
                height: 350px;
                margin-top: auto;
                margin-bottom: auto;
                width: 400px;
                background-color: rgba(209,239,253,0.9) !important;
            }

            .card-header h3 {
                color: #0780BB;
                text-align: center;
                font-weight: 700;
                letter-spacing: 0.155em;
            }

            .card-header h4 {
                color: #43A8D9;
                text-align: center;
                font-size: 0.7rem;
                letter-spacing: 0.12em;
            }

            .tsgh_icon {
                position: absolute;
                left: 10px;
                top: -80px;
            }

            .input-group-prepend span {
                width: 50px;
                background-color: #FFC312;
                color: black;
                border: 0 !important;
            }

            input:focus {
                outline: 0 0 0 0 !important;
                box-shadow: 0 0 0 0 !important;
            }

            .remember {
                color: white;
            }

                .remember input {
                    width: 20px;
                    height: 20px;
                    margin-left: 15px;
                    margin-right: 5px;
                }

            .login_btn {
                color: black;
                background-color: #FFC312;
                width: 100px;
            }

            .login_btnN {
                color: black;
                background-color: rgba(209,239,253,0.9);
                width: 100px;
            }

            .login_btn:hover {
                color: black;
                background-color: white;
            }

            .login_btnN:hover {
                color: black;
                background-color: white;
            }

            .links {
                color: white;
            }

                .links a {
                    margin-left: 4px;
                }

            .validation-summary-errors ul li {
                padding: 10px 36px 10px 12px;
                list-style: none;
                font-weight: bold;
                color: red;
            }
        </style>
        <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
              rel="stylesheet" type="text/css" />
        <script type="text/javascript">
            $(function () {
                $('#btnLogin').click(function () {
                    $('#AuthType').val('0');
                });
                $('#btnLoginAD').click(function () {
                    if (loginType == '1')
                        $('#AuthType').val('1');
                    else if (loginType == '2')
                        $('#AuthType').val('2');
                    else if (loginType == '3')
                        $('#AuthType').val('3');
                    else
                        $('#AuthType').val('1'); // 預設AD登入
                });
            })
        </script>
        //------------------

        <div class="container">
            @*d-flex justify-content-center放在container可讓chrome的mobile模式登入視窗置中,但於IE會導致登入畫面與圖重疊*@
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-6">
                    @*  如果是測試區要打開註解這段*@
                    <span id="isTest" style="float:right; color:red; font-size:40px; font-weight:bolder; display:none; background-color:yellow">測試機</span>

                    <div class="card">
                        <div class="card-header">
                            <span></span>
                            <h3>藥品及衛材供應管理系統</h3>
                            <h4>Medicine and Medical Supply Management System</h4>
                            <div class="d-flex justify-content-end tsgh_icon">
                                <span><img width="200" height="66" src="~/Images/TSGH_logo_W.png" /> </span>
                            </div>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    @*<input type="text" class="form-control" placeholder="username">*@
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "使用者代號", @spellcheck = "false" })

                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    @Html.PasswordFor(m => m.Drowssap, new { @class = "form-control", @placeholder = "密碼", @autocomplete = "off" })
                                </div>
                                <div class="form-group" style="vertical-align: middle;">
                                    @*<input type="submit" value="Login" class="btn float-right login_btn">*@
                                    <input name="Submit" type="submit" value="AD登入" class="btn login_btn" id="btnLoginAD" />
                                    <input name="Submit" type="submit" value="" class="btn float-right login_btnN" id="btnLogin" />
                                    @Html.HiddenFor(m => m.AuthType)
                                    @*@Html.HiddenFor(m => m.DbConnType)*@
                                </div>
                                @*<div><input name="DbConnType" type="checkbox" value="TEST" id="chkConn" /> 使用測試資料庫</div>*@
                                <div><span id="adNotice"><font color="#2196B7">*如沒有AD帳號或忘記AD密碼請至<a href="" target="_blank" rel="noopener noreferrer">webad/apply/</a></font></span></div>
                            }
                            </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-center">
                                @Html.ValidationSummary(true)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-none d-lg-block">
                    <div class="d-flex justify-content-end">
                        <span><img width="700" height="500" src="~/Images/Q_person.png" class="img-fluid" /> </span>
                    </div>
                </div>

            </div>

        </div>
        //------------------
        <script type="text/javascript">
            var loginType = '0'; // 1: AD登入, 2 : API登入, 3 : HIS登入
            function chkEnv() {
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: '/api/Acct/getEnvConfig',
                    dataType: "json"
                })
                .done(function (data, textStatus) {
                    var chkRtn = data.msg.split('^');
                    var rtnIs804 = chkRtn[0];
                    var rtnShowAdNotice = chkRtn[1];
                    var rtnIs813 = chkRtn[2];
                    // 是否是804桃園總院
                    if (rtnIs804 == 'Y') {
                        loginType = '2';
                        document.getElementById('btnLoginAD').value = '登  入'; 
                    }
                    // 是否是813新竹醫院
                    else if (rtnIs813 == 'Y') {
                        loginType = '3';
                        document.getElementById('btnLoginAD').value = '登  入'; 
                    }
                    // 皆否,使用AD登入
                    else {
                        loginType = '1';
                        document.getElementById('btnLoginAD').value = 'AD登入'; 
                    }
                    // 是否要顯示AD註冊網站
                    if (rtnShowAdNotice) {
                        if (rtnShowAdNotice == 'none')
                            $('#adNotice').html('<font>　</font>');
                        else {
                            var AN_MSG = rtnShowAdNotice.split('//')[1];
                            $('#adNotice').html('<font color="#2196B7">*如沒有AD帳號或忘記AD密碼請至<a href="' + rtnShowAdNotice + '" target="_blank" rel="noopener noreferrer">' + AN_MSG + '</a></font>');
                        }
                    }
                })
                .fail(function (data, textStatus) {
                    document.getElementById('btnLoginAD').value = 'AD登入';
                    document.getElementById('adNotice').style.display = 'none';
                });
            }
            chkEnv();

            function isTest() {
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: '/api/Acct/getDbConnType',
                    dataType: "json"
                })
                    .done(function (data, textStatus) {
                        if (data.msg == 'TEST') {
                            document.getElementById('isTest').style.display = 'inline-block';
                            document.getElementsByTagName('body')[0].style.backgroundColor = '#F769B3';
                            document.getElementsByTagName('body')[0].style.backgroundImage = 'none';
                            
                            alert("目前網站為測試機");
                        }
                        else {
                            document.getElementById('isTest').style.display = 'none';
                        }
                    })
                    .fail(function (data, textStatus) {
                        document.getElementById('isTest').style.display = 'none';
                        // document.getElementById('isFormal').style.display = 'inline-block';
                    });
            }
            isTest();
        </script>
    }

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">忘記密碼？</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fas fa-user"></span></span>
                                    <input type="text" id="uid" class="form-control" placeholder="使用者帳號">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <button type="button" id="btnNewPwd" class="btn btn-primary" onclick="GetPassword();">取得新密碼</button>
                            </div>
                        </div>
                    }
                        <p>請輸入使用者帳號，並取得新密碼；</p>
                        <p>您將會在系統註冊的電子信箱中收到您的新密碼。</p>
                        <p class="text-warning"><div id="pwdMsg" style="color:darkorange"></div></p>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalEn" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Forget password ?</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fas fa-user"></span></span>
                                    <input type="text" id="uidEn" class="form-control" placeholder="Account">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <button type="button" id="btnNewPwdEn" class="btn btn-primary" onclick="GetPasswordEn();">Submit</button>
                            </div>
                        </div>
                    }
                        <p>Please enter your account, and submit.</p>
                        <p>Check your inbox for a password reset email.</p>
                        <p class="text-warning"><div id="pwdMsgEn" style="color:darkorange"></div></p>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
</section>

    <script type="text/javascript">
        var txtBox = document.getElementById("UserName");
        if (txtBox !== null) txtBox.focus();//test

        function NewMember() {
            var w = window.open('../Form/Show/NM/NM01', '_blank');
            w.onload = function () { w.document.title = '新會員申請'; };
        }

        function NewMemberEn() {
            return false;
        }

        function ForgetPassword() {
            $(document).ready(function () {
                $("#myModal").modal('show');
            });
        }

        function ForgetPasswordEn() {
            $(document).ready(function () {
                $("#myModalEn").modal('show');
            });
        }

        function GetPassword()
        {
            $('#pwdMsg').html('密碼重置中...');
            var ajaxRequest = $.ajax({
                type: "POST",
                url: '../../../api/Acct/Reset',
                dataType: "json",
                data: { UID: $('#uid').val() }
            })
                .done(function (data, textStatus) {
                    $('#pwdMsg').html('已寄送密碼函，請檢查您的郵件並重新登入。');
                    $('#btnNewPwd')[0].disabled = true;
                })
                .fail(function (data, textStatus) {
                    $('#pwdMsg').html('已寄送密碼函，請檢查您的郵件並重新登入。');
                    $('#btnNewPwd')[0].disabled = true;
                });
        }

        function GetPasswordEn() {
            $('#pwdMsgEn').html('resetting...');
            var ajaxRequest = $.ajax({
                type: "POST",
                url: '../../../api/Acct/Reset',
                dataType: "json",
                data: { UID: $('#uidEn').val() }
            })
                .done(function (data, textStatus) {
                    $('#pwdMsgEn').html('Your password has been reset! Please check your inbox and loggin in again.');
                    $('#btnNewPwdEn')[0].disabled = true;
                })
                .fail(function (data, textStatus) {
                    $('#pwdMsgEn').html('Your password has been reset! Please check your inbox and loggin in again.');
                    $('#btnNewPwdEn')[0].disabled = true;
                });
        }
    </script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }